.mapping {
	width: 100%;
	display: flex;

	.title {
		font-size: 20px;
		margin: 10px;
	}

	.mapping-tree {
		flex: 2;
	}

	.mappings {
		flex: 3;
	}

	.mapping-row {
		font-size: 14px;
		padding: 16px;
		cursor: pointer;

		&.selected {
			background-color: aliceblue;
		}
	}

	.buttons {
		padding-top: 16px;
	}
}
